In [143]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

In [144]:
df = pd.read_csv("/content/CreditWorthiness - Sheet1.csv")
df.head()

,Cbal,Cdur,Chist,Cpur,Camt,Sbal,Edur,InRate,MSG,Oparties,Rdur,Prop,age,inPlans,Htype,NumCred,JobType,Ndepend,telephone,foreign,creditScore
0,0 <= Rs. < 2000,9,all settled till now,Business,13790,Rs. < 1000,1 to 4 years,2,married or widowed male,no one,less than a year,real estate,27,bank,own,1,employee with official position,1,yes,no,good
1,0 <= Rs. < 2000,15,dues not paid earlier,electronics,15250,no savings account,more than 7 years,4,single male,"yes, guarantor",more than 3 years,real estate,50,none,own,2,employee with official position,1,yes,no,good
2,0 <= Rs. < 2000,36,none taken/all settled,Business,19410,Rs. < 1000,more than 7 years,4,single male,no one,more than 3 years,Unknown,61,none,free,1,"employed either in management, self or in high...",1,yes,no,bad
3,0 <= Rs. < 2000,48,none taken/all settled,Business,144090,Rs. < 1000,1 to 4 years,2,single male,no one,1 to 2 years,Other cars etc.,25,none,own,1,employee with official position,1,yes,no,bad
4,no checking account,24,all settled till now,electronics,31690,Rs. < 1000,less than 1 year,4,divorced or separated or married female,no one,more than 3 years,life insurance/building society,26,none,own,1,employee with official position,1,yes,no,good

# 1) Write a Python function that calculates the average age of customers who have settled their dues and have a credit score categorized as "good."

In [145]:
def average_age(df):
  return df[(df.creditScore == 'good') & (df.Chist == 'all settled till now')].age.mean()

average_age(df)

34.596199524940616

# 2) Write a Python function that determines the percentage of customers who have a savings account and own more than one vehicle.

In [146]:
def percent_customer(df):
  return (df[(df.Sbal != 'no savings account') & (df.Prop == 'Other cars etc.')].shape[0]/df.shape[0] *100)

percent_customer(df)

27.6

# 3) Write a Python function that identifies the most common job type among customers who have taken credit for a new vehicle.

In [147]:
def identify_common_jobs(df):
  return (df[df.Cpur == 'new vehicle'].JobType.value_counts().idxmax())

identify_common_jobs(df)

'employee with official position'

# 4) Write a Python function that calculates the median value of the duration of credit (Cdur) for customers who are divorced, separated, or married females.

In [148]:
def median_value_Cdur(df):
  return (df[df.MSG == 'divorced or separated or married female'].Cdur.median())

median_value_Cdur(df)

18.0

# 5) Write a Python function that categorizes customers based on their credit amount (Camt) into bins: 'low', 'medium', and 'high', and returns the count of customers in each category.

In [149]:
def categorize_credit(amount):
  thresold_1, thresold_2 = df.Camt.quantile([0.33,0.66])
  if amount <= thresold_1:
    return 'low'
  elif amount <= thresold_2:
    return 'medium'
  else:
    return 'high'


def categorizes_credit_count(df):
  df['bins'] = df['Camt'].apply(categorize_credit)
  return (df.bins.value_counts())

categorizes_credit_count(df)

high      340
low       330
medium    330
Name: bins, dtype: int64

# 6) Calculate the conditional probability that a customer has a Credit Amount (Camt) greater than or equal to 30000, given that they own their house.

In [150]:
customer_credit_amount_own_home = df[(df.Camt >= 30000) & (df.Htype == 'own')].shape[0]/df.shape[0]
own_thier_house = df[df.Htype == 'own'].shape[0]/df.shape[0]

In [151]:
Conditional_probablity = customer_credit_amount_own_home/own_thier_house
Conditional_probablity

0.3534361851332399

# 7) Perform a hypothesis test to determine whether there is a significant difference in the average credit scores between customers who own their house and customers who do not own their house. Use a significance level of 0.05. Please note that you would need to follow the steps of hypothesis testing, such as setting up null and alternative hypotheses, calculating the test statistic, and comparing it to the critical value or p-value to make a conclusion about the significance of the difference in average credit scores.

In [152]:
from scipy.stats import t

# Creating null hypotheses
null_hypotheses = """There is no significant difference in the average credit scores
                    between customers who own their house and customers who do not own their house."""

# Given data
own_house = 713
dont_own_house = 287
mean_own_house = 30489.3969
mean_dont_own_house = 37817.5609
std_own_house = 26595.7680
std_dontown_house = 31366.1010

# Calculate the pooled standard deviation
pooled_std = np.sqrt(((own_house - 1) * std_own_house**2 + (dont_own_house - 1) * std_dontown_house**2) / (own_house + dont_own_house - 2))

# Calculate the t-statistic
t_statistic = (mean_own_house - mean_dont_own_house) / (pooled_std * np.sqrt(1/own_house + 1/dont_own_house))

# Degrees of freedom
degrees_of_freedom = own_house + dont_own_house - 2

# Calculate the p-value
p_value = 2 * (1 - t.cdf(np.abs(t_statistic), df=degrees_of_freedom))

# Significance level
significance_level = 0.05

# Compare p-value with significance level
print("T-Statistic:", t_statistic)
print("P-Value:", p_value)
if p_value < significance_level:
    print("Reject the null hypothesis. There is a significant difference in average credit scores.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in average credit scores.")

T-Statistic: -3.7377629917528603
P-Value: 0.00019620886729621034
Reject the null hypothesis. There is a significant difference in average credit scores.

# 8) In the context of the given data set with customer information and credit scores, apply a feature selection technique to identify the most important features that contribute to predicting credit scores accurately. Explain the rationale behind your choice of feature selection technique and discuss the impact of feature reduction on model performance.

In [153]:
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier


X = df.drop(columns='creditScore')
y = df['creditScore']
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
for column in X.columns:
  if(column not in ['Camt','age']):
    X[column] = label_encoder.fit_transform(X[column])
    X[column] = X[column].astype(dtype='int')


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
classifier = RandomForestClassifier()

num_features_to_keep = 10
rfe = RFE(estimator=classifier, n_features_to_select=num_features_to_keep)
rfe.fit(X_train, y_train)
selected_features = X.columns[rfe.support_]

X_train_selected = rfe.transform(X_train)
X_test_selected = rfe.transform(X_test)

classifier.fit(X_train_selected, y_train)
accuracy = classifier.score(X_test_selected, y_test)

print("Selected Features:", selected_features)
print("Classifier Accuracy:", accuracy)



'''I choose RFE(Recursive Feature Elimination) because it is one of the commonly
used feature selection methods besides looking at Correlation HeatMap
One of the most important reason is beacuse it removes the features iteratively'''

Selected Features: Index(['Cbal', 'Cdur', 'Chist', 'Cpur', 'Camt', 'Sbal', 'Edur', 'InRate',
       'Prop', 'age'],
      dtype='object')
Classifier Accuracy: 0.796

'I choose RFE(Recursive Feature Elimination) because it is one of the commonly \nused feature selection methods besides looking at Correlation HeatMap \nOne of the most important reason is beacuse it removes the features iteratively'

# 9) Utilizing the data set containing customer features and credit scores, create a classification model to classify customers into two categories: "good" credit score and "bad" credit score. Train the model and assess its accuracy, precision, recall, and F1-score evaluation will be done on these parameters.

In [162]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report


X = df[selected_features]
y = df['creditScore']

label_encoder = LabelEncoder()
for column in X.columns:
  if(column not in ['Camt','age']):
    X[column] = label_encoder.fit_transform(X[column])
    X[column] = X[column].astype(dtype='int')

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

model = RandomForestClassifier()
model.fit(x_train,y_train)

y_pred = model.predict(x_test)

print(classification_report(y_test,y_pred))
print(f"Accuray: {accuracy_score(y_test,y_pred)} ")

              precision    recall  f1-score   support

         bad       0.70      0.54      0.61        74
        good       0.82      0.90      0.86       176

    accuracy                           0.80       250
   macro avg       0.76      0.72      0.74       250
weighted avg       0.79      0.80      0.79       250

Accuray: 0.796

# 10) How many Persons are there who are in their 50s and whose Marital status is Single

In [166]:
df.MSG.value_counts()

single male                                548
divorced or separated or married female    310
married or widowed male                     92
divorced or separated male                  50
Name: MSG, dtype: int64

In [165]:
df[(df.age >= 50) & (df.age > 60) & (df.MSG == 'single male')].shape[0]

# just in case it is if it is SQL

'''
select count(*)
from creditWorthiness
where age between 50 and 60
and MSG = 'single male'

'''

30

In [167]:
df.columns

Index(['Cbal', 'Cdur', 'Chist', 'Cpur', 'Camt', 'Sbal', 'Edur', 'InRate',
       'MSG', 'Oparties', 'Rdur', 'Prop', 'age', 'inPlans', 'Htype', 'NumCred',
       'JobType', 'Ndepend', 'telephone', 'foreign', 'creditScore', 'bins'],
      dtype='object')

# 11) Create a UDF that will extract the data in table form based on credit score(credit score) and Purpose of the loan(Cpur)

In [169]:
'''
create function get_data (
    @creditScore INT,
    @loanPurpose VARCHAR(255)
)
returns table
as
return (
    select *
    from creditWorthiness
    where CreditScore = @creditScore
      and Cpur = @loanPurpose
);

select *
from get_data(700, 'housing');
'''

"\ncreate function get_data (\n    @creditScore INT,\n    @loanPurpose VARCHAR(255)\n)\nreturns table\nas\nreturn (\n    select *\n    from creditWorthiness\n    where CreditScore = @creditScore\n      and Cpur = @loanPurpose\n);\n\nselect *\nfrom get_data(700, 'housing');\n"

# 12) Write a query to fetch the data of the borrower who is foreign and has a duration of credit of more than 10 months.

In [168]:
'''
select *
from creditWorthiness
where foreign = 'yes
and Cdur > 10
'''

"\nselect * \nfrom creditWorthiness\nwhere foreign = 'yes \nand Cdur > 10\n\n"

# 13) Write a query to fetch the data whose Balance in the savings bank is greater than 1000 RS but still have a Bad credit score.

In [ ]:
'''
select *
from creditWorthiness
where Sbal = '1000 <= Rs. < 5,000'
and creditScore = 'bad'
'''

# 14) Based on every job type find the highest amount under credit/loan and find the entire data for that borrower

In [ ]:
'''
select t.*
FROM creditWorthiness t
JOIN (
    SELECT JobType, max(Camt) AS MaxLoanAmount
    FROM creditWorthiness
    GROUP BY JobType
) max_amounts ON t.JobType = max_amounts.JobType AND t.Camt = max_amounts.MaxLoanAmount;

'''