# Problem Statement:<br>
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the if-else condition.<br><br>
# Tasks To Be Performed:
1. Input the values of a and b as 10 and 20 respectively. Now check if a is
greater or b is greater using if condition. Think about all the edge cases,
and print the statements accordingly

In [1]:
a,b=10,20

if(a>b):
  print("a is larger than b")
else:
  print("a is not larger than b")

a is not larger than b

# Problem Statement:<br>
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the if-else condition.<br>
# Tasks To Be Performed:<br>
1. Take three user inputs and print the greatest number from those inputs
using if-else condition. Edge cases, if any, should also be handled

In [8]:
num_1 = input('Enter the 1st number ')
num_2 = input('Enter the 2nd number ')
num_3 = input('Enter the 3rd number ')

if(num_1 > num_2):
  if(num_1 > num_3):
    big = num_1
  else:
    big = num_3
else:
  if(num_2 > num_3):
    big = num_2
  else:
    big = num_3


print(f"The Largest number is {big}")

Enter the 1st number 5
Enter the 2nd number 3
Enter the 3rd number 7
The Largest number is 7

# Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the looping statements.<br><br>
# Tasks To Be Performed:
1. Print the numbers from 1 to 10 using while loop

In [11]:
n = 10
for i in range(1,n+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

# Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the looping statements.
#Tasks To Be Performed:
1. Create a list that has 10, 23, 4, 26, 4, 75, 24, 54 values and with the help
of while loop fetch the even numbers and print the numbe

In [1]:
def is_even(num):
  if(num%2 == 0):
    return True
  else:
    return False

ls = [10, 23, 4, 26, 4, 75, 24, 54]
i = 0
while(i<len(ls)):
  if(is_even(ls[i])):
    print(ls[i])
  i+=1

10
4
26
4
24
54

# Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the looping statements.
# Tasks To Be Performed:
1. Create an array that has user defined inputs and with the help of for loop,
fetch all the prime numbers and print the numbers.

In [13]:
import math
def is_prime(num):
  count = 0
  for i in range(1,num):
    if(num%i == 0):
      count+=1
  if(count == 1):
    return True
  else:
    return False

ls = []
n = int(input("Enter the size of the array  "))
for i in range(n):
  ls.append(int(input(f'Enter the {i+1}th Number ')))

for i in range(n):
  if(is_prime(ls[i])):
    print(ls[i])

Enter the size of the array  5
Enter the 1th Number 2
Enter the 2th Number 3
Enter the 3th Number 5
Enter the 4th Number 7
Enter the 5th Number 11
2
3
5
7
11

#Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a
guest lecturer at a college to take an introductory session on Python.
#Tasks To Be Performed:
1. Create a list containing squares of numbers from 1 to 10 (HINT: use List
Comprehension).
2. Write a function to check if the year number is a leap year.
3. Write a function to take an array and return another array that contains the
members of the first array that are even.
4. Write a function that takes 2 arrays and prints the members of the first
array that are present in the second array. (HINT: use Membership
Comprehension)

In [15]:
#1
n=10
[i**2 for i in range(1,n+1)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
#2
def is_leap(year):
  if(year%4 == 0):
    if(year%100 == 0):
      if(year%400 == 0):
        return True
      else:
        return False
    else:
      return True
  else:
    return False

is_leap(2014)

False

In [28]:
def only_even(arr):
  return [i for i in arr if(i%2 == 0)]

only_even([1,2,3,4,5,68,9,0,0])

[2, 4, 68, 0, 0]

In [30]:
def intersect(arr1, arr2):
  return [arr1[i] for i in range(len(arr1)) if arr1[i] in arr2]

intersect([1,2,3,4,5],[4,5,6,8,8,9])

[4, 5]

# Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a
guest lecturer at a college to take an introductory session on Python.
# Tasks To Be Performed:
1. Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40, 50, 60):
<br>a. Concatenate the two tuples and store it in “t_combine”
<br>b. Repeat the elements of “t_combine” 3 times
<br>c. Access the 3rd element from “t_combine”
<br>d. Access the first three elements from “t_combine”
<br>e. Access the last three elements from “t_combine”<br><br>
2. Create a list ‘my_list’ with these elements:
<br>a. First element is a tuple with values 1, 2, 3
<br>b. Second element is a tuple with values “a”, “b”, “c”
<br>c. Third element is a tuple with values True, False<br><br>
3. Append a new tuple – (1, ‘a’, True) to ‘my_list’:
<br>a. Append a new list – *“sparta”, 123+ to my_list
<br><br>
4. Create a dictionary ‘fruit’ where:
<br>a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
“Guava”)
<br>b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)
<br>c. Extract all the keys from ‘fruit’
<br>d. Extract all the values from ‘fruit’
<br><br>
5. Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and
print the result.

In [37]:
# 1
tup1 = (10,20,30)
tup2 = (40,50,60)

t_combine = tup1 + tup2 # a

print(t_combine*3) # b

print(f"3rd Element {t_combine[2]}") # c

print(f"First three Elements {t_combine[:3]}")

print(f"Last three Elements {t_combine[-3:]}")

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
3rd Element 30
First three Elements (10, 20, 30)
Last three Elements (40, 50, 60)

In [42]:
# 2
my_list = []

my_list.append((1,2,3))# a

my_list.append(('a','b','c'))# b

my_list.append((True,False))# c

my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [43]:
# 3
my_list.append((1,'a',True))

my_list.append(['sparta', 123])

my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

In [45]:
# 4
fruit = {}

fruit['Fruit'] = ('Apple','Banana','Mango','Guava')# a

fruit['Cost'] = (85,54,120,70)# b

print(fruit.keys())# c

print(fruit.values())# d

dict_keys(['Fruit', 'Cost'])
dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [49]:
#5
my_set = {1,1,'a','a',True,True}
my_set

{1, 'a'}